allow init property_type:file { append create getattr map open read relabelto rename setattr unlink write };
allow init hal_fingerprint_hwservice:hwservice_manager find;